.panel.panel-default{
    margin-bottom: 5px;
}
.mat-form-field {
    display: block;
    width: 90%;
}

.submit-btn-container {
    margin-top: 15px;
}
.contact-form-section{
    width: 90%;
    margin-bottom: 10px;
}