<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <!-- navbar-header -->
    <header></header>
    <!-- /.navbar-header -->

    <!-- navbar-top-links -->
    <top-link></top-link>
    <!-- /.navbar-top-links -->

    <!-- sidebar -->
    <sidebar></sidebar>
    <!-- /.sidebar -->
</nav>

<div id="page-wrapper">
    <div class="container-fluid" style="padding-top:20px;">
        <div class="row">
            <div class="col-lg-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->