.post-card .mat-card-title{
    color: #468c1f;
    font-size: 1.3em;
    margin-bottom: 10px;
}
.description{
    padding: 5px;
    margin-bottom: 5px;
}
.price{
    color: #777;
}
.post-card .mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title{
    margin-bottom: 0;
}
.price{
    padding-left: 5px;
}
.post-card .mat-card-actions .like{
    margin-left: -5px;
}
.post-card .mat-card-actions .share{
    margin-left:-30px;
}