<mat-card class="post-card">
    <mat-card-header>
        <div mat-card-avatar >
            <img class="example-header-image" src="{{imageUrl}}" alt="Avatar">
        </div>
        <mat-card-title>
            <a [routerLink]="['/timeline/view', post._id]">{{post.title}}</a>
        </mat-card-title>
        <mat-card-subtitle>
            <span *ngFor="let categoryName of post.category">{{categoryName}}, </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p class="description">
            {{post.description}}
        </p>
        <div class="price">Price : {{post.price}}</div>
    </mat-card-content>
    <mat-card-actions *ngIf="post.editable">
        <action-buttons 
            (update) = "updatePost($event)"
            (delete)="deletePost($event)"
            [hide-create-button]="true"
            [disabledWhen]="post">
        </action-buttons>
    </mat-card-actions>
</mat-card>