<div id="page-wrapper" class="registration-form">
    <h2 class="page-header">Register</h2>
    <div class="container-fluid image-sec">
        <div class="clear">
            <!-- File input for upload without using the plugin. -->
            <input id="photo" type="file" />
            <!-- button to trigger the file upload when submitted -->
            <button mat-raised-button color="primary" (click)="upload()">
                Upload
            </button>
        </div>
        <div class="pull-left">
            <img src="{{uploadImg}}" alt="" class="profile-image">
        </div>
    </div>
    <form role="form" (ngSubmit)="onSubmit(user)" [formGroup]="user" novalidate>
        <div class="example-container">
            <mat-form-field>
                <input type="text" matInput placeholder="Firstname" formControlName="firstname">
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Lastname" formControlName="lastname">
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Username" formControlName="username">
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Password" formControlName="password">
                <!-- <mat-error *ngIf="user.get('password').touched && user.get('confirmPassword').touched && !user.get('password').errors?.ValidConfirmPassword">Confirm Password doesn't match</mat-error> -->
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
                <mat-error *ngIf="user.get('confirmPassword').touched && user.get('password').touched && !user.get('confirmPassword').errors?.ValidConfirmPassword">Confirm Password doesn't match</mat-error>
            </mat-form-field>
            <mat-radio-group formControlName="sex">
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group>
            <mat-form-field class="dob">
                <input matInput [matDatepicker]="picker" placeholder="Select your birth date" formControlName="dob">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="category">
                <mat-select placeholder="Subject" formControlName="subject" multiple>
                    <mat-option *ngFor="let subject of subjectList" [value]="subject.name">{{subject.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <contact-form [group]="user.controls.contact['controls'][0]"></contact-form>
            <div class="checkbox-selection">
                <mat-checkbox formControlName="isAgree">Are you agree</mat-checkbox>
            </div>
            <div class="button-row">
                <button mat-raised-button color="primary" [disabled]="subjectList.length<=0">Primary</button>
                <button mat-raised-button color="primary" [routerLink]="['login']">Sign in</button>
            </div>
        </div>
    </form>
</div>