<div class="panel panel-primary">
    <div class="panel-heading">{{data.name}}</div>
    <div class="panel-body">
        <mat-form-field class="task-input">
            <input matInput placeholder="add a task" type="text" [(ngModel)]="taskname">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addTask()">Add Task</button>

        <mat-nav-list>
            <a mat-list-item href="javascript:void(0)"
                (click) ="removeTask(task)"
                *ngFor="let task of taskList"> {{ task.taskname }} </a>
         </mat-nav-list>
    </div>
</div>